<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="error">
        <h1>Oops! wrong way!</h1>
        <a href="/">Back Home???</a>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>

</html>