<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about">
        <h1>About app</h1>
        <p>Basic of expressjs.</p>
        <p>some dependencies used: mongoose, morgan, ejs, sass.</p>
        <h4>Created by <a href="https://walidnurudin.netlify.app/">Walid nurudin</a></h4>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>