html {
  background-color: #e7e6d5;
}

* {
  color: #202020;
}

body {
  margin: 0 10%;
}

nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #202020;
}

nav h1 {
  font-weight: bolder;
  font-size: 50px;
}

nav h1 a {
  text-decoration: none;
}

nav h1 a:hover {
  color: #a1a1a1;
}

nav ul {
  display: flex;
  align-self: center;
}

nav ul li {
  margin-left: 20px;
  list-style: none;
  font-size: 30px;
}

nav ul li a {
  text-decoration: none;
}

nav ul li a:hover {
  color: #a1a1a1;
}

.home {
  text-align: center;
}

.blogs h1 {
  text-align: center;
}

.blogs div {
  border-left: 10px solid #92e01d;
}

.blogs div:hover {
  background-color: #a1a1a1;
}

.blogs div a {
  text-decoration: none;
}

.details {
  display: flex;
  justify-content: space-between;
}

.details button {
  background-color: orangered;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 20px;
}

.about {
  text-align: center;
}

.about p {
  font-size: 20px;
}

.about a:hover {
  background-color: #a1a1a1;
}

.create {
  text-align: center;
}

.create form {
  display: flex;
  flex-direction: column;
  margin: auto 20%;
}

.create form label {
  margin-top: 20px;
  margin-bottom: 10px;
}

.create form input {
  padding: 5px;
}

.create form textarea {
  padding-bottom: 30px;
}

.create form button {
  margin-top: 20px;
  padding: 10px;
  background-color: #92e01d;
}

.create form button:hover {
  background-color: seagreen;
  cursor: pointer;
}

.error {
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.error h1 {
  color: orangered;
}

.error a {
  text-decoration: none;
}

.error a:hover {
  color: #a1a1a1;
}

footer {
  border-top: 2px solid #202020;
  margin-top: 50px;
}

footer p {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
